<section class="additional-info">
  <h3>{{ _('Additional Info') }}</h3>
  <table class="table table-striped table-bordered table-condensed">

    <tbody>
    {% block package_additional_info %}

    {% block extras %}

    {% set rename_fields = {'harvest-author':'Author', 'datacite-resource-type':'Resource Type'}  %}
    {% set exclude_fields = ['resource-type', 'spatial_harvester', 'dataset-reference-date'] %}
    {% set extras = h.sorted_extras(pkg_dict.extras, auto_clean=True, subs=rename_fields, exclude=exclude_fields) %}
    {% for extra in h.dset_sorted_extras(extras) %}
      {% set key, value = extra %}

          <tr rel="dc:relation" resource="_:extra{{ i }}">

          {% if key == "Author" or key == "Publisher" or key == "Resource Type" %}
             <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
               <td class="dataset-details" property="rdf:value">
             {% for name in h.string_to_json(value)  %}
                  {{ name }}<br>
             {% endfor %}
             </td>
          {% elif "Date" in key or "Temporal Extent" in key %}
             <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
             <td class="dataset-details">
                 {{ h.render_datetime(value, date_format='%B %d, %Y, %I:%M %p', with_hours=True) }}
             </td>
          {% else %}
             <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
             <td class="dataset-details" property="rdf:value">
              {{ value }}
             </td>
          {% endif %}
          </tr>
    {% endfor %}

    {% endblock %}
    {% endblock %}
    </tbody>
  </table>
</section>
