{#
Renders a Metadata Source section and links for Download and View Metadata.

pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/metadata_source_list.html", pkg=pkg %}

#}
{% set harvest_object_id = h.get_pkg_dict_extra(pkg, 'harvested_object_id', None) %}
<section id="dataset-metadata-source" class="resources">
<h3>{{ _('Metadata Source') }}</h3>
  <ul class="resource-list">
     <li class="resource-item">
         <strong class="heading">
             <span class="format-label" property="dc:format" data-format="ISO-19139">ISO-19139</span>
             ISO-19139 Metadata
            </strong>
            <p class="description">
              <a href="/harvest/object/{{ harvest_object_id }}">Download Metadata (XML)</a>
                &middot;
                <a href="/harvest/object/{{ harvest_object_id }}/html">View Full Metadata (HTML)</a>
            </p>
          </li>
        </ul>

</section>


