{#
Renders a Metadata Source section and links for Download and View Metadata.

pkg - A package object that the resources belong to.

Example:

  _snippet "package/snippets/temporal_extent.html", pkg=pkg %}

#}
{% set begin = h.get_pkg_dict_extra(pkg, 'temporal-extent-begin', None) %}
{% set end = h.get_pkg_dict_extra(pkg, 'temporal-extent-end', None) %}
<section id="temporal-extent" class="resources">
{%if begin or end %}
<h3>{{ _('Temporal Extent') }}</h3>
  <ul class="resource-list">
     <li class="resource-item">
		<table class="description"> <tr> <td>
                  {%if begin %}
                    Begin:&nbsp; 
		    </td> 
 	            <td>
		    {{ h.dset_render_datetime(begin) }} 
                  {% endif %}
	  	</td> 
		<tr> <td> 
                  {%if end %}
		    End:&nbsp;
		    </td> <td>
		    {{ h.dset_render_datetime(end) }} 
                  {% endif %}
		</td>
               </tr> </table>
          </li>
        </ul>

{% endif %}
</section>


