{% ckan_extends %}

{# Don't show social or info icons #}
{% block package_social %}
    {#  {% snippet "snippets/social.html" %} #}
{% endblock %}

{% block package_info %}
    {# {% snippet "package/snippets/info.html", pkg=pkg %} #}
{% endblock %}

{# Don't show Organization label #}
{% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.name) %}
      {% snippet "snippets/organization.html", organization=org, has_context_title=false %}
    {% endif %}
{% endblock %}

{# Don't show Groups or Activity Stream tabs #}
{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
{% endblock %}
